@import '~node_modules/modern-normalize/modern-normalize.css';

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    width: 100%;
    background-color: #1944af;
}

